<div id="form"></div>

<div id="dreams-list">
	<nav class="nav"></nav>
	<div id="dreams-index"></div>
</div>
<div id="content"></div>
<div id="one-dream" hidden>
</div>

<br>


<script type="text/javascript">
	$(function() {
		var $list = $('#dreams-list');
		var $form = $('#form');
		var $oneDream = $('#one-dream');
		
		var dreamsList = new DN.DreamIndexView( function(dream) {
			//the function to call when a dream is clicked!
			new DN.DreamView($oneDream, dream);
		 },
			$list
		);
		
		DN.DreamFormView.newDreamForm(new DN.Dream()); //make a new dream form
		DN.Dream.fetchAll();
		DN.Tag.fetchAll();
	});
</script>